Repository reeinharddd/payment-system: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "apps/backend/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "apps/merchant-web/**/*.{ts,js,html,css,scss}": ["prettier --write"],
  "libs/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

docs(inventory): extract UX flows from database schema
  docs/technical/backend/database/04-INVENTORY-SCHEMA.md
  docs/technical/frontend/ux-flows/INVENTORY-BARCODE-SCANNING.md
Due: prettier --write

docs(cleanup): remove all emojis and standardize arrow symbols
  .github/agents/Architect.agent.md
  .github/agents/Backend.agent.md
  .github/agents/Frontend.agent.md
  .github/agents/QA.agent.md
  .github/agents/Scribe.agent.md
  .github/copilot-instructions.md
  README.md
  services/mcp-server/src/verify-setup.ts
Due: prettier --write

chore: minor code cleanup in backend and MCP server
  services/mcp-server/src/server.ts
Due: none

docs(backend): add MCP server documentation guide
  docs/technical/backend/MCP-SERVER-DOCUMENTATION-GUIDE.md
Due: prettier --write

docs(copilot): update instructions with MCP tool usage strategy
  .github/copilot-instructions.md
Due: prettier --write

docs(strategy): add scalability governance and glossary
  .github/copilot-instructions.md
  .markdownlint.json
  apps/backend/src/app.module.ts
  apps/backend/src/config/env.validation.ts
  apps/backend/src/main.ts
  docs/GLOSSARY.md
  docs/process/standards/SCALABILITY-AND-GOVERNANCE.md
  docs/process/standards/STANDARDS.md
  docs/process/standards/VISUAL-IDENTITY.md
  docs/process/workflow/AI-DEVELOPMENT-STANDARD.md
Due: eslint --fix, prettier --write

docs: update technical architecture and schema documentation
  README.md
  docs/technical/architecture/PRELIMINARY-DESIGN.md
  docs/technical/architecture/SYSTEM-ARCHITECTURE.md
  docs/technical/backend/database/01-AUTH-SCHEMA.md
  docs/technical/backend/database/02-BUSINESS-SCHEMA.md
  docs/technical/backend/database/03-COMMUNICATION-SCHEMA.md
  docs/technical/backend/database/04-INVENTORY-SCHEMA.md
  docs/technical/backend/database/05-SALES-SCHEMA.md
  docs/technical/backend/database/06-PAYMENTS-SCHEMA.md
  docs/technical/backend/database/07-BILLING-SCHEMA.md
  docs/technical/backend/database/FULL-ER-DIAGRAM.md
  docs/technical/foundations/TECHNICAL-FOUNDATIONS.md
Due: prettier --write

ci: add github governance templates and workflows
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: prettier --write
